.vscode
build/
x64/
Debug/
Release/
ipch/
*.aps
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.old
*.obj
*.pch
*.tlog
*.idb
*.pdb
*.ilk
*.exp
*.lib
*.res
*.exe
*.dll

# Android
.gradle/
.idea/
local.properties
keystore.properties
*.apk
*.aar
app/build/
.cxx/
capture_result.png

# Others
*.log
*.bak
vcpkg_installed/
